.Map {
  align-items: center;
  margin: 5em;
  border: 5px solid #282c34;
  border-radius: 10px;
}

.Navbar {
  display: flex;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  margin-top: 5%;
  margin-left: 17%;
}

.leaflet-container {
  width: 100vw; 
  height: 100vh;
}